* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #fafafa;
}

.navbar {
  position: sticky;
  top: 0;
  background: white;
  padding: 16px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icons i {
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
}


.create-post {
  display: flex;
  align-items: center;
  padding: 12px;
  background: white;
  margin: 15px auto;
  width: 500px;
  border-radius: 10px;
  gap: 3px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.create-post input {
  flex: 1;
  margin: 0 10px;
  padding: 8px;
  border: none;
  background: #f0f0f0;
  border-radius: 20px;
}

.create-post button {
  background: #0095f6;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}


.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.post {
  background: white;
  width: 500px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}


.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-weight: bolder;
}
.post-header i{
  padding: 10px;
  border: 0.5px solid gray;
  border-radius: 50%;
  background-color: #ddd;
}


.post img,
.post video {
  width: 100%;
}

.post-actions {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.post-actions button{
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.post-actions span{
  font-size: 20px;
}
.next button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.next p{
  padding: 3px 10px;
  font-size: larger;
}
.next input{
  padding: 8px 10px;
  margin: 5px 10px;
  width: 85%;
  border-radius: 6px;
  border: 0.2px solid gray;
  background-color: rgb(248, 248, 248);
}
.comments{
  max-height: 60px;
  overflow-y: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fafafa;
  border-radius: 8px;
  scrollbar-width: thin;
}
.hidden{
  display: none;
}
.comments::-webkit-scrollbar{
  width: 6px;
}
.comments::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 10px;
}
.comments::-webkit-scrollbar-thumb:hover{
  background: #aaa;
}
.notification-box{
  position: absolute;
  right: 10px;
  top:50px;
  width: 300px;
  background: #fff;
  border: 1px solid #ddd;
  max-height: 400px;
  overflow-y:auto ;
}
.notification{
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.notification.unread{
  background-color: #f5f5f5;
  font-weight: bold;
}
.hidden{
  display: none;
}
.notification-wrapper #user{
  margin-right: 50px;
  font-size: larger;
  
}
.notification-wrapper span{
  margin-left: 10px;
}
.notification-wrapper button{
  background-color: white;
  width: max-content;
  padding: 4px 6px;
  
  border: none;
  font-weight: bolder;
  font-size: larger;
}